@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive, sans-serif;
}

body {
  background-color: #eaeaea;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #eaeaea;
  padding: 0 !important;
}
/* header */
.navbar-toggler {
position: absolute;
left: 80%;
}
header {
  background-color: white;
}
.container-fluid a img {
  width: 100px;
  height: 100px;
  background-color: transparent;
}

/* main */
main {
  padding-bottom: 100px;
}
.intro-txt {
  padding: 15px 35px;
  background-color: #233c50;
}
.intro-txt h3 {
  color: white;
}
.intro-txt p {
  text-align: center;
  color: #f5f7fb;
}
.intro-txt-2 p {
  padding: 30px 40px;
  font-size: 18px;
  color: #233c50;
  background-color: white;
}
.audio-box {
  margin-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}
.audio-content h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #233c50;
  padding: 40px 30px;
}
.card-group {
  padding: 70px 35px;
}
.card {
  border: none;
}
.card-1 img {
  width: 100%;
  height: 100%;
}
.card-2 p {
  font-size: 20px;
  margin-left: 35px;
}

.card-2 span {
  color: red;
}

.card-3 button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  height: 70px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #233c50;
}
.card-3 button:hover{
  color: white;
  border: 1px solid darkcyan;
  background-color: black;
  transition: 0.3s;
}
.card-3 a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  height: 70px;
  padding: 20px 30px;
  border: 1px solid darkcyan;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
}

.card-3 a:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
@media (max-width: 770px) {
  .audio-content h2 {
    text-align: center;
  }
  .card {
    padding-top: 30px;
    margin: 0 auto !important;
    text-align: center !important;
  }
  .card-3 a, button {
    margin: 0 auto !important;
  }
  .card-3 a{
    margin-top: 30px !important;
  }
}
